:root {
    --primary: #947D97;
    --light-accent: #CEB085;
    --light-shade: #FAF6F5;
    --dark-accent: #B48B56;
    --dark-shade: #32293D;

    --default: #999999;
    --info: #32293D;
    --success: #62A065;
    --warning: #DF902d;
    --danger: #F44336;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--light-shade);
    min-height: 100%;
    margin: 0;
    padding: 0;
}
