<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <body>
        <main>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.cAP(placeholder="cAP Wert") }}
            </form>
        </main>
    </body>
</html>
